<div class="my-3">
  <h2>Take, TakeLast and TakeUntil</h2>
  <br />
  <hr />
  <p class="bg-light d-inline-block py-2 px-3 border">
    Random Name: 'Tauhidul', 'Khadiza', 'Maleka', 'Shahidul', 'Alif', 'Azmir', 'Arafat', 'Arosh', 'jara', 'mahin',
    'Raju', 'Rabbi', 'Yousuf'
  </p>

  <div class="row">
    <div class="col-md-4">
      <strong>Ex-01 | Take(5)</strong>
      <hr />
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-01 | TakeLast()</strong>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-01 | TakeUntil(Condition)</strong>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
