<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="from-event">fromEvent</a>
      </li>
      <li>
        <a routerLink="interval">interval</a>
      </li>
      <li>
        <a routerLink="subject">Subject</a>
      </li>
      <li>
        <a routerLink="of-from">of-from</a>
      </li>
      <li>
        <a routerLink="pluck">pluck</a>
      </li>
      <li>
        <a routerLink="map">map</a>
      </li>
      <li>
        <a routerLink="filter">filter</a>
      </li>
      <li>
        <a routerLink="take">Take, TakeLast and TakeUntil</a>
      </li>
      <li>
        <a routerLink="retry">Retry, RetryWhen, Scan and Delay</a>
      </li>
      <li>
        <a routerLink="home">home</a>
      </li>
      <li>
        <a routerLink="behavior-subject">behavior-subject</a>
      </li>
      <li>
        <a routerLink="behavior-subject-test">behavior subject test</a>
      </li>

      <li>
        <a routerLink="sort">Sort</a>
      </li>

      <li>
        <a routerLink="optimize-image">optimize-image</a>
      </li>
      <li>
        <a routerLink="lodash">Lodash</a>
      </li>

      <li>
        <a routerLink="form">Form</a>
      </li>

      <!-- <li>
                <a routerLink="debounce">debounce</a>
            </li> -->
      <!--
            
            <li>
                <a routerLink="replay-subject">replay-subject</a>
            </li>
            <li>
                <a routerLink="share-replay">share-replay</a>
            </li>
            
            <li>
                <a routerLink="async-subject">async-subject</a>
            </li>
            <li>
                <a routerLink="concat-merge">concat-merge</a>
            </li> -->
    </ul>
  </div>
</div>
